/* font */

/* @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins&display=swap'); */


/* body {
     font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif; 
} */

.inputbtn{
   
    background-color: #E6E6E6;
}

.button{
    margin-left: 100px;
}

p{
     background-color: red;
    display:none;
    padding: 0px 0px 0px 90px;
    border-radius: 15px;
}

