/* font */

 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins&display=swap'); */


 body {
  
    font-family: 'Poppins', sans-serif; 
} ;


.inputbtn{
   
    background-color:#6e6e6e;
}

.button{
    margin-left: 100px;
}
  







/* error messages hundle */

.expeneses{
    background-color: red;
    background-color: red;
    padding-left: 47px;
    border: 1px solid gray;
    border-radius: 8px;
    display: none;
}



p{
     background-color: red;
    display:none;
    padding: 0px 0px 0px 90px;
    border-radius: 15px;
    margin-top: 10px;
}
.balance{
    background-color: red;
    background-color: red;
    padding-left: 47px;
    border: 1px solid gray;
    border-radius: 8px;
    display: none;
}


